.Grid{
	display: flex;
	//position: absolute;
	//bottom:30px;
	width:1130px;
	margin:auto;
	//border:1px red solid;
	justify-content: center;
}
.Functions{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.Functions h2{
	color:white;
}
.Functions button{
	padding:0.2rem 0.3rem;
	background-color:white;
	border:2px #990033 solid;
	color: #990033;
	font-weight: 700;
}
.cover{
	position:fixed;
	height:100%;
	width:100%;
	z-index:200;
}
